pip
bump2version
wheel
watchdog
flake8
tox
coverage
Sphinx
sphinx_rtd_theme
twine
{% if cookiecutter.command_line_interface|lower == 'click' -%}
Click{% endif %}
{% if cookiecutter.use_pytest == 'y' -%}
pytest
pytest-runner{% endif %}
{% if cookiecutter.use_codecov == 'y' -%}
pytest-cov{% endif %}
